<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1> Welocme to BDPA 2025</h1>
  
    <ul>
      
    </ul>
  </body>
</html>
