<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1> Welocme to BDPA 2025</h1>
    <h2> MY NAME IS CORTEZ!!!</h2>
    <p> This page will be an intro to the HSCC program</p>
    <h2> Hyperlinks </h2>
    <ul>
      <li> BDPA National <a href="http://www.bdpa.org"> LINK </a> </li>
      <li> BDPA Milwaukee <a href="http://www.bdpamke.org"> LINK </a> </li>
      <li> W3schools <a href="http://www.w3schools.com"> LINK </a> </li>


    </ul>
  </body>
</html>
